@font-face {
	font-family: "Roboto-Light-webfont";
	src: url("/Content/fonts/Roboto/Roboto-Light-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roboto-Regular-webfont";
	src: url("/Content/fonts/Roboto/Roboto-Regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roboto-Medium-webfont";
	src: url("/Content/fonts/Roboto/Roboto-Medium-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roboto-Bold-webfont";
	src: url("/Content/fonts/Roboto/Roboto-Bold-webfont.woff") format("woff");
}
