@using TreasureOfLegend.Web.Resources
@using Webpack.NET
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Strings.TreasureOfLegend</title>
</head>
<body class="error">
	Error page, dude!!!
</body>
</html>
